# Xcode
## User settings
xcuserdata/
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code coverage
*.xcresult
coverage/
